:root {
  --primary-color: rgb(225, 214, 255);
  --secondary-color: rgb(151, 114, 252);
  --heading-font-family: "Fira Sans", sans-serif;
}
/*
font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 50px;
  font-weight: 900;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  line-height: 2;
  padding: 160px 10px;
}

.hero p {
  font-size: 32px;
}

.hero h2 {
  font-size: 26px;
}

.btn-branding {
  background: var(--secondary-color);
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
}
