:root {
  --primary-color: rgb(225, 214, 255);
  --secondary-color: rgb(151, 114, 252);
  --heading-font-family: "Fira Sans", sans-serif;
}
/*
font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;*/

body {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 50px;
  font-weight: 900;
}

h2 {
  font-size: 50px;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  line-height: 2;
  padding: 160px 10px;
}

.hero p {
  font-size: 32px;
}

.hero h2 {
  font-size: 26px;
}

.btn-branding {
  background: var(--secondary-color);
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
}

.btn-branding-outline {
  background: var(--primary-color);
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
}

.project-title {
  padding-top: 50px;
}

@media (max-width: 900px) {
  .project-title {
    padding-top: 10px;
    text-align: center;
  }
}
